<section id="how-we-do-it" class="section how-we-do-it-section">
  <div class="container">
    <h2 class="title-section title-how">Как проходит разговорный курс</h2>
    <ul class="list">
      <li class="item">
        <div class="icon">
          <svg class="icon-how-we-do">
            <use href="./images/icons/sprite.svg#icon-how-program"></use>
          </svg>
        </div>

        <h3 class="title-how-we-do">
          Мы связываемся по zoom и я лично тебя тестирую
        </h3>

        <p class="description">
          Найдем твои слабые и сильные стороны, и я адаптирую курс специально
          для тебя
        </p>
      </li>
      <li class="item">
        <div class="icon">
          <svg class="icon-how-we-do">
            <use href="./images/icons/sprite.svg#icon-how-online"></use>
          </svg>
        </div>

        <h3 class="title-how-we-do">Ты получаешь видео-уроки</h3>

        <p class="description">
          Каждые несколько дней ты получаешь видео-урок. Тебе нужно внимательно
          посмотерть следовать инятукциям
        </p>
      </li>
      <li class="item">
        <div class="icon">
          <div class="icon">
            <svg class="icon-how-we-do">
              <use href="./images/icons/sprite.svg#icon-how-book"></use>
            </svg>
          </div>
        </div>

        <h3 class="title-how-we-do">Домашнее задание</h3>

        <p class="description">
          После каждого видео-урока у тебя будет прописано домашнее задание.
          Часть заданий ты сможешь проверить, нажав кнопку “Проверить”
        </p>
      </li>
      <li class="item">
        <div class="icon">
          <svg class="icon-how-we-do">
            <use href="./images/icons/sprite.svg#icon-how-support"></use>
          </svg>
        </div>

        <h3 class="title-how-we-do">ГОВОРИМ!</h3>

        <p class="description">
          После каждого видео-урока ты будешь получать также задание для
          говорение. Тебе нужно отправить голосовое сообщение мне с заданием
        </p>
      </li>
      <li class="item">
        <div class="icon">
          <svg class="icon-how-we-do">
            <use href="./images/icons/sprite.svg#icon-how-author"></use>
          </svg>
        </div>

        <h3 class="title-how-we-do">Я не отстану !</h3>

        <p class="description">
          Если ты не присылаешь мне домашнее задание, я тебе напоминаю и
          надоедаю, поэтому готовься общаться со мной каждый день !
        </p>
      </li>
      <li class="item">
        <div class="icon">
          <svg class="icon-how-we-do">
            <use href="./images/icons/sprite.svg#icon-how-audiobook"></use>
          </svg>
        </div>

        <h3 class="title-how-we-do">Живые уроки</h3>

        <p class="description">
          Также у нас будут запланированные живые уроки с группой в zoom, где мы
          будем общаться и практиковать. Следи за расписанием
        </p>
      </li>
    </ul>
  </div>
</section>
