<section class="section section-problems">
  <div class="container">
    <h2 class="problems-section-title">
      Тебе подойдет разговорный <br />
      курс, если
      <span class="color-orange"></span>
    </h2>
    <ul class="problems-list">
      <li class="problems-item">Тебе сложно построить предложения</li>
      <li class="problems-item">
        Ты считаешь, что английский это непонятно и скучно
      </li>
      <li class="problems-item">
        Немного понимаешь на слух, но хотелось бы больше
      </li>
      <li class="problems-item">Ты не знаешь, с чего начать изучение</li>
      <li class="problems-item">Ты много раз начинал и бросал</li>
      <li class="problems-item">Не хочешь тратить годы на изучение</li>
    </ul>
  </div>
</section>
