<section id="about-us" class="section section-teacher">
  <div class="container">
    <h2 class="section-title">Твоя училка английского</h2>
    <div class="teacher-wrapper">
      <div class="picture-wrapper">
        <picture>
          <source
            srcset="
              ./images/teacher/teacher-desktop@1x.webp 1x,
              ./images/teacher/teacher-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-desktop@1x.jpg 1x,
              ./images/teacher/teacher-desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-tablet@1x.webp 1x,
              ./images/teacher/teacher-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-tablet@1x.jpg 1x,
              ./images/teacher/teacher-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-mobile@1x.webp 1x,
              ./images/teacher/teacher-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-mobile@1x.jpg 1x,
              ./images/teacher/teacher-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width:767px)"
          />
          <img
            src="./images/teacher/teacher-mobile@1x.jpg"
            alt="Фото преподавателя Елены"
            srcset="./images/teacher/teacher-mobile@2x.jpg 2x"
          />
        </picture>
      </div>

      <div class="teacher-description">
        <h3 class="teacher-name">Юля Шир</h3>

        <ul class="teacher-list">
          <li class="teacher-item">
            <p class="teacher-text">
              Опыт работы - 16 лет (только никому не говори, что мне так много
              лет)
            </p>
          </li>
          <li class="teacher-item">
            <p class="teacher-text">
              Дипломы и сертификаты (думаю, и так понятно)
            </p>
          </li>
          <li class="teacher-item">
            <p class="teacher-text">
              Знаю, что делать, чтобы ты заговорил за 2 месяца (<span Lang="en"
                >Preliminary English Test</span
              >)
            </p>
          </li>
        </ul>
        <!-- <div class="decor-line-orange"></div> -->
        <div class="teacher-experience">
          <p class="experience-text">
            Так сложилось в нашей стране, что люди изучают английский больше 10
            лет (школа, универ), но так и не говорят на нем. Ты приезжаешь за
            границу и тебе сложно пообщаться на елементарные темы.
          </p>

          <p class="experience-text">
            За годы опыта работы я поняла, что реально нужно для общения, а
            какие нюансы можно упустить, чтобы не тратить твое время и деньги.
            Можно сказать, что “Разговорный курс” - это сам сок, все что тебе
            нужно и ничего лишнего !
          </p>

          <p class="experience-text">
            В числе пройденных: ((<span Lang="en"
              >Также я смиксовала разные методы изучения , сделала систему от
              простого к сложному” “и все это с юмором. Ты не просто получишь
              результат, тебе еще понравится процесс !</span
            >
          </p>
        </div>
        <a href="#" class="experience-link" id="myImg">
          <p lang="en">Это я тебе гарантирую !</p>
        </a>

        <!-- The Modal -->
        <div id="myModal" class="modal-certificate">
          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Image -->
          <img
            class="modal-image"
            id="myImg"
            src="./images/certificate/certificate.jpg"
            alt="Это я тебе гарантирую !"
            style="width: 100%"
          />

          <!-- Modal Caption -->
          <div id="caption">
            <p lang="en">Это я тебе гарантирую !</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
