<section class="section warranty-section">
  <div class="container">
    <h2 class="section-title">Для составления курса я использовала</h2>
    <div class="background-list-color">
      <ul class="warranty-list">
        <li class="warranty-item">
          <p>
            87 разных книг и учебников<span class="color-orange"
              ><sup>*</sup></span
            >
          </p>
        </li>
        <li class="warranty-item">
          <p>
            фрагменты из 530 видео
            <span class="color-orange"></span>
          </p>
        </li>
        <li class="warranty-item">
          <p>
            1 американец, который одобрил все разговорные фразы в курсе - так
            реально говорят
          </p>
        </li>
        <li class="warranty-item">
          <p>
            как минимум 5 лет моей жизни просмотра комедий, стендапов, мемов,
            смешных тиктоков, чтобы сделать курс веселым и интересным
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
